/*TEMP OUTLINE STYLES FOR BARBER */

body {
  padding: 3px;

}

body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > * {
  position: relative;
  text-transform: none;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

body > * > * > * > * {
  background: rgba(32, 16, 176, 0.2);
  box-shadow: inset 0 0 0 2px rgb(32, 16, 176);

}

body > * > * > * > *::before {
  color: white;
  background: rgb(32, 16, 176);
}

body > * > * > * > * > * {
    background: rgba(164, 14, 201, 0.2);
  box-shadow: inset 0 0 0 2px rgb(164, 14, 201);
}
body > * > * > * > * > *::before {
    color: white;
  background: rgb(164, 14, 201);
}

.main-header::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: ".main-header";
}

.main-navigation::before {
  position: absolute;
  bottom: 0px;
  right: 0px;
content: ".main-navigation";

}

.inner-page .main-navigation::before {

  position: absolute;
  bottom: -20px;
  right: 0px;
  content: ".main-navigation";
}

.main-navigation-wrapper::before {
position: absolute;
  left: 0px;
  content: ".main-navigation-wrapper";
}

.main-navigation-wrapper .container::before {
  position: absolute;
  top: 70px;
  left: 0px;
  content: ".container";
}

.main-footer .container::before {
  position: absolute;
  top: -25px;
  left: -3px;
  content: ".container";
}
.container::before {
  position: absolute;
  top: -25px;
  left: -3px;
  content: ".container";
}


.site-navigation::before {
  content: ".site-navigation";
}

.user-navigation::before {
  content: ".user-navigation";
}

.main-header-logo::before {
  content: ".main-header-logo";
}

.inner-page .main-header-logo::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: ".main-header-logo";
}


.features-list::before {
  position: absolute;
  content: ".features-list";
  top: 5px;
  left: 2px;
}

.feature-item::before {
  content: ".feature-item";
}

.index-columns::before {
  position: absolute;
top: 0;
  left: 0;
  content: ".index-columns";
}

.news::before {
  content: ".news";
  left: auto;
  right: 0;
}

.gallery::before {
  content: ".gallery";
  left: auto;
  right: 0;
}

.contacts::before {
  content: ".contacts";
  left: auto;
  right: 0;
}
.appointment::before {
  content: ".appointment";
  left: auto;
  right: 0;
}

.main-footer::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: ".main-footer";
}

.footer-contacts::before {
  content: ".footer-contacts";

}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}

.page-title::before {
  content: ".page-title";
}

.inner-page .page-title::before {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  position: absolute;
  top: -0px;
  left: 0px;
  content: ".page-title";
}

.breadcrumbs::before {
  content: ".breadcrumbs";
}

.inner-page .breadcrumbs::before {

  position: absolute;
  top: 0px;
  left: 0px;
  content: ".breadcrumbs";
}

.filters::before {
  content: ".filters";
}

.catalog::before {
  content: ".catalog";
}

.inner-page .catalog::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: ".catalog";
}

.catalog-columns::before {
  content: ".catalog-columns";
}

.inner-page .catalog-columns::before {
  position: absolute;
  top: -25px;
  left: 0px;
  content: ".catalog-columns";
}

.catalog-list::before {
  content: ".catalog-list";
}

.inner-page .catalog-list::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: ".catalog-list";
}


.catalog-item::before {
  content: ".catalog-item";
}

.inner-page .catalog-item::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: ".catalog-item";
}


.pagination-list::before {
  content: ".pagination-list";
}

.product-photos::before {
  content: ".product-photos";
}

.product-info::before {
  content: ".product-info";
}
