/*TEMP OUTLINE STYLES FOR INDEX.HTML */

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > * {
  position: relative;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

body > * > * > * > * {
  background: rgba(32, 16, 176, 0.2);
  box-shadow: inset 0 0 0 2px rgb(32, 16, 176);

}

body > * > * > * > *::before {
  color: white;
  background: rgb(32, 16, 176);
}

body > * > * > * > * > * {
    background: rgba(164, 14, 201, 0.2);
  box-shadow: inset 0 0 0 2px rgb(194, 14, 201);
}
body > * > * > * > * > *::before {
    color: white;
  background: rgb(164, 14, 201);
}

.main-header::before {
  content: ".Main-header";
}

.container::before {
  content: ".Container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {

}

.main-navigation-wrapper::before {

}

.site-navigation::before {
  content: ".Site-navigation";
}

.user-navigation::before {
  content: ".User-navigation";
}

.main-header-logo::before {
  content: ".Main-header-logo";
}

.features-list::before {
  content: ".Features-list";
  top: -28px;
}

.feature-item::before {
  content: ".Feature-item";
}

.index-columns::before {
  content: ".Index-columns";
}

.news::before {
  content: ".News";
  left: auto;
  right: 0;
}

.gallery::before {
  content: ".Gallery";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".Main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".Footer-contacts";
}

.footer-social::before {
  content: ".Footer-social";
}

.footer-copyright::before {
  content: ".Footer-copyright";
}
